.sidebar {
    background-color: #343a40;
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
}
.sidebar-header {
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid white;
    cursor: default;
}
.logo-link {
    text-decoration: none;
    color: white;
}
.navibar {
    margin-top: 20px;
}
.navibar .nav-item {
    width: 100%     ;
    text-align: center;
}
.navibar .nav-link {
    color: white;
    display: block;
    padding: 15px;
}
.navibar .nav-link:hover {
    background-color: #495057;
}
.logout-btn {
    margin-top: auto;
    padding: 15px;
    background-color: #dc3545;
    color: white;
    width: 100%;
    border: none;
    cursor: pointer;
}
.logout-btn:hover {
    background-color: #c82333;
}
.custome-logo {
    font-size: 1.5rem;
    font-weight: bold;
}
.dropdown-content {
    width: 100%;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease; /* Ομαλό transition */
}

.dropdown-content.open {
    max-height: 300px; /* Αρκετά μεγάλο για να εμφανίσει όλα τα items */
    opacity: 1;
}
button.nav-link.dropdown-toggle::after {
    display: none; /* Κρύβει το προεπιλεγμένο βελάκι του Bootstrap */
    transition: 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
    .sidebar {
        width: 25%;
    }
    .sidebar-header {
        padding: 10px;
    }
    .custome-logo {
        font-size: 1rem;
    }
}
