.content {
  cursor: default;
  width: 85%;
  margin-left: 15%;
  padding: 0px 20px 0px 20px ;
}
.Sidebar{
  width: 15%;
}
.mb-3 input[type="number"]::-webkit-outer-spin-button,
.mb-3 input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.code input[type="number"]::-webkit-outer-spin-button,
.code input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  .form-control {
    background: transparent;
    border: none;
    border: 1px solid #ccc; 
    box-shadow: none;
    color:    #413f3f;
  }
  
.form-control:focus,
.form-control:active {
    background: transparent;
    color: #413f3f;
    outline: none;
}
.form-control, .form-select {
  background: transparent;
  border: none;
  border: 1px solid #413f3f; 
  box-shadow: none;
}
.form-control:focus, .form-select:focus {
  outline: none;
}
.disabled-field {
  pointer-events: none; 
  opacity: 0.5; 
  cursor: none;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 490px) {
  .content {
      margin-left: 25%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  .content {
      margin-left: 25%;
  }
}