.content {
  overflow-y: auto;
  cursor: default;
  width: 85%;
  margin-left: 15%;
}
.mb-3 input[type="number"]::-webkit-outer-spin-button,
.mb-3 input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.code input[type="number"]::-webkit-outer-spin-button,
.code input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* AFAIRESA THN AFAIRESI TIS EPILOGIS APO TO HMEROLOGIO KATW ARISTERA*/
.form-control {
    background: transparent;
    border: none;
    border: 1px solid #ccc; 
    box-shadow: none;
    color:    #413f3f;
  }
  
.form-control:focus,
.form-control:active {
    background: transparent;
    color: #413f3f;
    outline: none;
}
.form-control, .form-select {
  background: transparent;
  border: none;
  border: 1px solid #413f3f; 
  box-shadow: none;
}
.form-control:focus, .form-select:focus {
  outline: none;
}
.disabled-field {
  pointer-events: none; 
  opacity: 0.5; 
  cursor: none;
}