.content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}
.custome-table {
    margin-top: 10%;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    background-color: transparent;
    margin-top: 10px;
}
.custome-table th,
.custome-table td {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    border: 2px solid #dee2e6;
}
.custome-table th {
    background-color: #f8f9fa;
    font-weight: bold;
}
.disabled-fields {
    opacity: 0.5;
}
.form-select:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.wres input[type="number"]::-webkit-outer-spin-button,
.wres input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
@media print {
    body * {
        visibility: hidden !important;
    }

    #DisplayEmployee {
        visibility: visible !important;
        font-size: 20px;
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #my-table,
    #my-table * {
        visibility: visible !important;
    }
    #my-table {
        position: absolute;
        top: 5%;
        left: 0;
        width: 100% !important;
    }
    #my-table th,
    #my-table td {
        padding: 2px !important;
        text-align: center !important;
        font-size: 12px;
    }
    #my-table .thmera {
        width: 100px !important;
    }
    .thimerominia {
        width: 70px !important;
    }
    .custome-table {
        max-width: 100%;
    }
    #my-table .thwresErg {
        width: 50px !important;
    }
    .time {
        width: 100px !important;
    }
}